body{
    text-align: center;
    font-size: 18pt;
    font-family: Calibri;
    min-width: 1100px;
}
#wrapper {
    position: absolute;
    margin: 0px auto;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}
#display {
    color: white;
    position: relative;
    margin: 1% auto;
    width: 90%;
    height: 80%;
    background: #292929;
    border: solid black 5px;
    border-radius: 10px;
    box-shadow: 5px 10px 10px #363636;
}
.current {
    color: black;
    position: relative;
    width: 200px;
    height: 200px;
    margin: 5% auto;
    border: solid rgb(255, 255, 255) 5px;
    border-radius: 10px;
}
#searchDiv {
    margin: 10px;
    position: absolute;
    width: 50%;
    height: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 1.5%;
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
}
#forecast {
    color: black;
    position: absolute;
    width: 80%;
    height: 150px;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    border: solid rgb(255, 255, 255) 5px;
    border-radius: 10px;
    background: #8e7cff;
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
    min-width: 850px;
}
.forecastDiv{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    width: 120px;
    height: 120px;
    border: solid black 3px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(51, 51, 51);
    margin: auto;
    font-size: 16pt;
}
.forecastIcon {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.icon{
    position: relative;
    display: block;
    margin: 0px auto;
}
#locHead{
    position: relative;
    margin: 0px auto;
    font-size: 60pt;
    font-style: bold;
}
.hoverObj, .current, #wrapper{
    background: #90e9f5;
}
.hoverObj:hover {
    transform: scale(1.1);
    cursor: pointer;
    background: #adf5ff;
}
.hoverObj {
    transition: transform 1s;
}
.focusDiv{
    font-size: 18pt;
    display: block;
    justify-content: none;
    animation: 750ms enlarge forwards;
    color: black;
    z-index: 10;
    background: #acd9ff;
    position: absolute;
    cursor: pointer;
    border: solid black 5px;
    margin: 5% auto;
}
@keyframes enlarge {
    from {
        background: #90e9f5;
        width: 100px;
        height: 100px;
        margin: 20% 46%;
    }
    to {
        background: #36f8ff;
        width: 500px;
        height: 500px;
        margin: 5% 30%;
    }
}
#focusDivHolder {
    z-index: 5;
    position: relative;
    display: none;
}
#favorites{
    text-align: left;
    position: absolute;
    float:left;
    top: 10px;
    width:30%;
    height:60%;
    margin:2%;
}
#locTitle{
    font-size: 20pt;
    padding: 0px;
}
.arrow{
    font-size: 18pt;
}
.arrow::before{
    transition: transform 250ms;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    content: ' ';
    border:solid rgb(255, 255, 255);
    border-width: 0 3px 3px 0;
    transform: rotate(-45deg);
    padding: 3px;
}
.downArrow::before{
    transform: rotate(45deg);
}
ul{
    list-style-type: none;
    font-size: 20pt;
    padding-left: 10px;
    margin: 0px;
    position: relative;
}
li{
    cursor:pointer;    
    border-radius: 25px;    
    width: fit-content;    
    vertical-align: middle;
}
li.loc {
    display: none;
    padding: 2px 15px 2px 15px;
    font-size: 14pt;
}
li.loc:hover {
    background: #424242;
}
.emptyHeart{
    font-size:12pt;
}
.fullHeart{
    font-size: 13pt;
}
.textBox {
    color: black;
    display: flex;
    position: relative;
    justify-content: space-evenly;
    padding: 5px;
    outline: none;
    height: 50%;
    width: 25%;
    border: solid black 3px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #252525;
    margin: 10px;
    font-size: 15pt;
    top: 50%;
    transform: translate(0, -50%);
}
.textBox:hover {
    background: #e0e0e0;
}
#preciseButton{
    float:right;
    position:absolute;
    display: block;
    top:8vh;
    right:2vw;
    width:10vw;
    height:10vh;
    font-size: 15pt;
    font-family: Calibri;
    cursor: pointer;
}

.textBox{
    background: white;
}
.ip {
    font-size: 10pt;
}
.ip:hover {
    cursor:default;
}
@media screen and (max-width: 400px){
    #forecast{
        width: 80vw;
    }
}